@font-face
    font-family 'SFUIDisplayRegular'
    src url('fonts/SFUIDisplayRegular.eot')
    src url('fonts/SFUIDisplayRegular.eot') format('embedded-opentype'),
        url('fonts/SFUIDisplayRegular.woff') format('woff'),
        url('fonts/SFUIDisplayRegular.ttf') format('truetype'),
        url('fonts/SFUIDisplayRegular.svg#SFUIDisplayRegular') format('svg')

@font-face 
    font-family 'SFUIDisplayBold'
    src url('fonts/SFUIDisplayBold.eot')
    src url('fonts/SFUIDisplayBold.eot') format('embedded-opentype'),
        url('fonts/SFUIDisplayBold.woff2') format('woff2'),
        url('fonts/SFUIDisplayBold.woff') format('woff'),
        url('fonts/SFUIDisplayBold.ttf') format('truetype'),
        url('fonts/SFUIDisplayBold.svg#SFUIDisplayBold') format('svg')

@font-face
    font-family: 'SFUIDisplayLight'
    src url('fonts/SFUIDisplayLight.eot')
    src url('fonts/SFUIDisplayLight.eot') format('embedded-opentype'),
        url('fonts/SFUIDisplayLight.woff2') format('woff2'),
        url('fonts/SFUIDisplayLight.woff') format('woff'),
        url('fonts/SFUIDisplayLight.ttf') format('truetype'),
        url('fonts/SFUIDisplayLight.svg#SFUIDisplayLight') format('svg')

@font-face
    font-family 'SFUIDisplayMedium'
    src url('fonts/SFUIDisplayMedium.eot')
    src url('fonts/SFUIDisplayMedium.eot') format('embedded-opentype'),
        url('fonts/SFUIDisplayMedium.woff2') format('woff2'),
        url('fonts/SFUIDisplayMedium.woff') format('woff'),
        url('fonts/SFUIDisplayMedium.ttf') format('truetype'),
        url('fonts/SFUIDisplayMedium.svg#SFUIDisplayMedium') format('svg')


@font-face
    font-family: 'Avenir Next Cyr W00 Regular'
    src url('fonts/0ac24a3ac0127acb41df621f11ec0aa4.eot')
    src url('fonts/0ac24a3ac0127acb41df621f11ec0aa4.eot') format('embedded-opentype'),
        url('fonts/0ac24a3ac0127acb41df621f11ec0aa4.woff2') format('woff2'),
        url('fonts/0ac24a3ac0127acb41df621f11ec0aa4.woff') format('woff'),
        url('fonts/0ac24a3ac0127acb41df621f11ec0aa4.ttf') format('truetype'),
        url('fonts/0ac24a3ac0127acb41df621f11ec0aa4.svg#Avenir Next Cyr W00 Regular') format('svg')

@font-face
    font-family: 'Avenir Next Cyr W00 Demi'
    src url('fonts/e9ded45beb2125fe3265c2c7087555b5.eot')
    src url('fonts/e9ded45beb2125fe3265c2c7087555b5.eot') format('embedded-opentype'),
        url('fonts/e9ded45beb2125fe3265c2c7087555b5.woff2') format('woff2'),
        url('fonts/e9ded45beb2125fe3265c2c7087555b5.woff') format('woff'),
        url('fonts/e9ded45beb2125fe3265c2c7087555b5.ttf') format('truetype'),
        url('fonts/e9ded45beb2125fe3265c2c7087555b5.svg#Avenir Next Cyr W00 Demi') format('svg')



