//responsive

largeView = 'screen and (min-width: 1180px)'
mediumView = 'screen and (max-width: 1180px)'
smallView = 'screen and (max-width: 767px)'


//fonts

fontReg = 'SFUIDisplayRegular'
fontBold = 'SFUIDisplayBold'
fontLight = 'SFUIDisplayLight'
fontMedium = 'SFUIDisplayMedium'
fontAvenirReg = 'Avenir Next Cyr W00 Regular'
fontAvenirDemi = 'Avenir Next Cyr W00 Demi'



//colors

defColor = #8c8c8c
redColor = #d73d32
redColor2 = #f93737
grayColor = #3f3f3f
grayTitle = #535353
grayTitle2 = #c0c0c0
grayTitle3 = #5c5c5c
grayTitle4 = #9a9595
grayTitle5 = #333333
grayColor2 = #616161
grayColor3 = #2c2c2c
grayColor4 = #9d9d9d
grayColor5 = #3d3d3d
grayColor6 = #575757
grayColor7 = #adacac
grayColor8 = #d2d2d2
grayColor9 = #908e8e
grayColor10 = #8c8c8c
grayColor11 = #3e3e3e
grayColor12 = #787777
grayBg = #f1f1f1
grayBorder = #e3e3e3
blueColor = #528ff7
blueColor2 = #4385f6
blueColor3 = #3377eb
yellowColor = #f4b128
yellowColor2 = #f2b02a
yellowColor3 = #f2962a
yellowColor4 = #ffe7b7
grayFigure = #e1e1e1
inputColor = #afafaf
popupBgColor = #f5f5f5
popupBordColor = #ececec
greenColor = #23b352
greenColor2 = #2abf5b
greenColor3 = #349b60


